@use "global" as *;

.p-news-post {
  background-color: $gray;
  padding-block: rem(46) rem(100);
}

.p-news-post__wrapper {
  background-color: $white;
  padding: rem(67) rem(120) rem(80);
  @include mq(md) {
  }
}

.p-news-post__title {
  font-size: rem(32);
  font-weight: 700;
  padding-bottom: rem(20);
  border-bottom: rem(1) solid $black;
  @include mq(md) {
  }
}

.p-news-post__meta {
  display: flex;
  align-items: center;
  gap: rem(20);
  margin-top: rem(20);
}

.p-news-post__image {
  width: rem(1000);
  margin-top: rem(40);
}

.p-news-post__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 1000 / 560;
  object-fit: cover;
}

.p-news-post__body {
  margin-top: rem(40);
}

 .p-news-post__body p {
  font-size: rem(16);
  line-height: calc(28 / 16);
}

.p-news-post__body h3 {
  position: relative;
  font-size: rem(28);
  font-weight: 700;
  line-height: calc(36 / 28);
  margin-top: rem(28);
  padding-left: rem(35);
}

.p-news-post__body h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: rem(22);
  height: rem(22);
  background-color: $black;
  transform: translateY(-50%);
  margin-left: rem(3);
}

.p-news-post__body dl {
  margin-top: rem(28);
}

.p-news-post__body dt,
.p-news-post__body dd {
  display: inline;
  font-size: rem(16);
  line-height: calc(28 / 16);
}

.p-news-post__body dt {
  font-weight: 700;
  margin-left: rem(3);
}

.p-news-post__note {
  margin-top: rem(16);
}

.p-news-post__body a {
  display: inline-block;
  color: $blue;
  text-decoration: underline;
  margin-top: rem(16);
}

.p-news-post__btn {
  width: rem(300);
  margin: rem(57) auto 0;
  @include mq(md) {
    width: rem(240);
  }
}

.p-news-post__btn .c-btn {
  height: rem(60);
  @include mq(md) {
    height: rem(50);
  }
}

.p-news-post__related {
  margin-top: rem(80);
}

.p-news-post__related-title {
  display: flex;
  align-items: center;
  font-size: rem(38);
  font-weight: 700;
}

.p-news-post__related-title span {
  color: #b50000;
}

.p-news-post__related-title::after {
  content: "";
  flex: 1;
  height: rem(1);
  background-color: $black;
  margin-left: rem(31);
}

.p-news-post__cards {
  display: flex;
  gap: rem(25);
  margin-top: rem(30);
  @include mq(md) {
    max-width: rem(600);
    gap: rem(30);
    flex-direction: column;
    margin: 0 auto;
  }
}
