@use "global" as *;

.p-news {
  background-color: $gray;
  padding-block: rem(30) rem(70);
}

.p-news__wrapper {
  background-color: $white;
  padding: rem(60) rem(75) rem(40);
  @include mq(md) {
    padding: rem(35) rem(20);
  }
}

// タブ
.p-news__tabs {
  display: flex;
  gap: rem(35);
  margin-left: rem(75);
  margin-bottom: rem(45);
  @include mq(md) {
    margin-left: 0;
    justify-content: center;
    gap: rem(20);
    margin-bottom: rem(30);
  }
}

.p-news__tabs li {
  font-size: rem(14);
  font-weight: 700;
}

.p-news__tabs .is-active {
  background-color: #fff4f4;
  padding: rem(5) rem(20);
}

// 一覧
.p-news__cards {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  width: rem(600);
  margin-inline: auto;
  @include mq(md) {
    width: 100%;
  }
}

// カード横並び
.p-news .c-news-card__item {
  display: grid;
  grid-template-columns:
    rem(50) rem(80) 1fr;
  align-items: center;
  column-gap: rem(12);
  @include mq(md) {
    grid-template-columns:
      rem(50) 1fr;
    row-gap: rem(5);

  }
}

// ページネーション
.p-news__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(22);
  margin-top: rem(50);
}

.p-news__pagination a,
.p-news__pagination span {
  font-size: rem(14);
  font-weight: 700;
}

.p-news__pagination .is-current {
  color: $red;
  text-decoration: underline;
}

.p-news__pagination-prev,
.p-news__pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(20);
  height: rem(20);
  background-color: $red;
  color: $white;

}
