@use "global" as *;

.p-news {
  background-color: $gray;
  padding-block: rem(33) rem(80);
  @include mq(md) {
    padding-block: rem(20) rem(50);
  }
}

.p-news__wrapper {
  background-color: $white;
  padding: rem(94) rem(120) rem(66);
  @include mq(md) {
    padding: rem(35) rem(20);
  }
}

.p-news__tabs {
  display: flex;
  align-items: center;
  @include mq(md) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.p-news__tabs li {
  font-size: rem(14);
  font-weight: 700;
  @include mq(md) {
    font-size: rem(13);
  }
}

.p-news__tabs a {
  display: inline-block;
  padding: rem(2) rem(20);
  @include mq(md) {
    padding: rem(5) rem(17);
  }
}

.p-news__tabs li:first-child {
  padding-right: rem(20);
  @include mq(md) {
    padding-right: rem(17);
  }
}

.p-news__tabs .is-active a {
  background-color: #FFF1F1;
}

.p-news__cards {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  margin-top: rem(60);
  @include mq(md) {
    gap: rem(15);
    margin-top: rem(35);
  }
}

// ページネーション
.p-news__pagination {
  margin-top: rem(76);
  @include mq(md) {
    margin-top: rem(40);
  }
}
